<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/login.css}">
    <title>Log In</title>
</head>
<body>
    <div th:if="${param.error}">Invalid username or password</div>
    <div th:if="${param.logout}">You have been logged out</div>
    <div class="forms">
        <div class="form-box">
          <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" th:onclick="login()">Log In</button>
            <button type="button" class="toggle-btn" th:onclick="register()">Register</button>
          </div>
          
          <form th:action="@{/login}" method="POST" id="login" class="input-group">
            <input type="text" name="email" class="input-field" placeholder="Email Address" required>
            <input type="text" name="password" class="input-field" placeholder="Enter password" required>
            <input type="checkbox" class="check-box"><span>Remember Password</span>
            <button type="submit" class="submit-btn">Log in</button>
          </form>

          <form id="register" class="input-group">
            <input type="text" class="input-field" placeholder="First Name" required>
            <input type="text" class="input-field" placeholder="Last Name" required>
            <input type="email" class="input-field" placeholder="Email Address" required>
            <input type="password" class="input-field" placeholder="Enter Password" required>
            <input type="date" class="input-field" placeholder="Date Of Birth" required>
            <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
            <button type="submit" class="submit-btn">Register</button>
          </form>

        </div>
    </div>


      <script th:inline="javascript">
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");
  
        function register() {
          x.style.left = "-400px";
          y.style.left = "50px";
          z.style.left = "110px";
        }
  
        function login() {
          x.style.left = "50px";
          y.style.left = "450px";
          z.style.left = "0px";
        }
      </script>
</body>
</html>